[alias]
  # 新功能提交
  feat = "!f() { git add . && git commit -m \"feature(*@$1): $2\"; }; f"
  featb = "!f() { git add . && git commit -m \"feature(b@$1): $2\"; }; f"
  featf = "!f() { git add . && git commit -m \"feature(f@$1): $2\"; }; f"
  
  # Bug修复提交  
  fix = "!f() { git add . && git commit -m \"fix(*@$1): $2\"; }; f"
  fixb = "!f() { git add . && git commit -m \"fix(b@$1): $2\"; }; f"
  fixf = "!f() { git add . && git commit -m \"fix(f@$1): $2\"; }; f"

  # 代码微调：代码风格调整、过程算法优化
  tune = "!f() { git add . && git commit -m \"tune(*@$1): $2\"; }; f"
  tuneb = "!f() { git add . && git commit -m \"tune(b@$1): $2\"; }; f"
  tunef = "!f() { git add . && git commit -m \"tune(f@$1): $2\"; }; f" 

  # 测试相关
  # 代码微调：代码风格调整、过程算法优化
  test = "!f() { git add . && git commit -m \"test(*@$1): $2\"; }; f"
  testb = "!f() { git add . && git commit -m \"test(b@$1): $2\"; }; f"
  testf = "!f() { git add . && git commit -m \"test(f@$1): $2\"; }; f" 
   
  # 重构提交：涉及项目结构大刀阔斧的整改
  refa = "!f() { git add . && git commit -m \"refactor: $1\"; }; f"

  # 文档
  doc = "!f() { git add . && git commit -m \"doc: $1\"; }; f"

  # 杂项：如更新依赖、资源等等
  chore = "!f() { git add . && git commit -m \"chore: $1\"; }; f"
  
  # 带详细描述的提交
  cmit = "!f() { git add . && git commit -m \"$1(*@$2): $3\"; }; f"
  cmitb = "!f() { git add . && git commit -m \"$1(b@$2): $3\"; }; f"
  cmitf = "!f() { git add . && git commit -m \"$1(f@$2): $3\"; }; f"